@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-bg {
  background-image: url('https://ik.imagekit.io/bc/Images/Frame%202%20(4).svg?updatedAt=1727151792266');
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
}

.bd-bg {
  background-image: url('https://ik.imagekit.io/bc/Images/bg-2.png?updatedAt=1727870345699');
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-scrollbar::-webkit-scrollbar {
  width: 12px;
  /* Set the width of the scrollbar */
  height: 7px;
  /* Set the height of the scrollbar for horizontal scroll */
}

/* Optional: style the scrollbar */
.show-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba(183, 181, 181, 0.516);
  /* Style for scrollbar thumb */
}







@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.text-shadow-red {
  filter: drop-shadow(2px 2px 10px #FF3B3F);
}


.text-shadow-orange {
  filter: drop-shadow(4px 4px 20px #FF6B35);
}

.text-shadow-green {
  filter: drop-shadow(1px 1px 14px #00C48C);
}

.text-shadow-white {
  filter: drop-shadow(2px 2px 20px #ffffff);
}

.icon-shadow-red {
  filter: drop-shadow(2px 2px 60px #ff0000);
}

.icon-shadow-orange {
  filter: drop-shadow(2px 2px 70px #FF6B35);
}

.icon-shadow-blue {
  filter: drop-shadow(2px 2px 70px #04c4ff);
}

.icon-shadow-darkblue {
  filter: drop-shadow(2px 2px 70px #005eff);
}

.icon-shadow-purple {
  filter: drop-shadow(2px 2px 60px #b41eff);
}


.icon-shadow-yellow {
  filter: drop-shadow(2px 2px 60px #ffe604);
}

.icon-shadow-white {
  filter: drop-shadow(2px 2px 60px #ffffff);
}

.text-img {
  background-image: url("https://images.unsplash.com/photo-1710184713246-91865a6123dc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 2px 30px #16ffc9);
}

/* From Uiverse.io by AqFox */
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner>div {
  background-color: rgb(255, 107, 53, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #FF3B3F;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

